.media {
    img {
        width: 300px;
        border-radius: 6px;
    }
}
.list-unstyled {
    padding: 50px;
    .media-image {
        height: 171px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    a {
        display: inline-block;
        color: #212121;
        height: 100%;
    }
    input {
        height: 42px;
    }
}
.p-dropdown {
    width: 100%;
}
@media only screen and (max-width: 640px) {
    .list-unstyled {
        padding: 10px;
    }
    .media {
        flex-wrap: wrap;
        .media-body {
            width: 100%;
            flex: inherit;
        }
        .media-image {
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
    }
}
